 *{
    margin: 0;
    padding: 0px;
 }
 header{
    display: flex;
    padding: 10px;
    gap: 10%;
    position: fixed;
    background-color: white;
    width: 100%;
 }
 .navbar{
    display: flex;
    align-items: center;
    gap: 10px;
    
 }
 .product-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        padding-top: 70px;
        margin-left: 10px;
    }

    .product-card {
        width: 200px;
        border: 1px solid #ddd;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
        text-align: center;
        background-color: #fff;
        transition: 0.3s;
    }

    .product-card:hover {
        box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
        transform: translateY(-3px);
    }

    .product-card img {
        width: 140px;
        height: 100px;
        object-fit: contain;
        margin-bottom: 10px;
    }

    .product-card h3 {
        margin: 5px 0;
        font-size: 18px;
    }

    .product-card p {
        margin: 2px 0;
        font-size: 14px;
        color: #555;
    }
    .actions{
        display: flex;
        justify-content: space-around;
    }

    .product-card a {
        width: 40px;
        height: auto;
        background-color: #007bff;
        padding: 8px 12px;
        border-radius: 5px;
        color: white;
        text-decoration: none;
        font-size: 14px;
    }

    .product-card a:hover {
        background-color: #0056b3;
    }
