<!DOCTYPE html>
<html>

<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <!-- Flash messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
    <p style="color:green;">{{ message }}</p>
    {% endfor %}
    {% endwith %}

    <h2>Welcome, {{ admin_name }}</h2>
    <a href="/admin/add-item">Add Product</a>
    <a href="/admin/item-list">View All Products</a>
    <a href="/admin/profile">My Profile</a>


    <!-- Logout Button -->
    <a href="/admin-logout">Logout</a>

</body>

</html>