<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sassy store</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <!-- Flash messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
    <p style="color:green;">{{ message }}</p>
    {% endfor %}
    {% endwith %}

    <h1>Welcome, {{user_name}}</h1>
    <a href="/products">start Shopping</a>
    <a href="/cart">My Cart</a>
    <a href="/user-logout">Logout</a>

</body>

</html>